.ParticipantBuilder {
  width: 20%;
  border-left: 1px solid #ccc;
  padding: 0 2px;
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .ParticipantBuilder {
    visibility: hidden;
  }
}
