@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lato&display=swap');

.ParticipantItem{
    color: black;
    font-size: 17px;
    font-family: 'Hachi Maru Pop', cursive;
} 